<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SAMURAI</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="login">
      <div class="login">
        <div class="login-triangle"></div>
        <h2 class="login-header">SAMURAI</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html=>{class: "login-container"}) do |f| %>
          <p><%= f.email_field :email, autofocus: true, placeholder: "Email" %></p>
          <p><%= f.password_field :password, autocomplete: "off", placeholder: "Password" %></p>
          <p><%= f.submit "Log in" %></p>
        <% end %>
      </div>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- bootsnipp2login -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9155049400353686"
           data-ad-slot="6460533058"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
  </body>
</html>